{% extends "base.html" %}

{% block head %}
<link href="/static/css/incident.css" rel="stylesheet" type="text/css">
{% endblock %}

{% block body %}
<p class="commands">
  <a href="{{url_for('edit_incident', incident_id=incident.id)}}" class="command">Edit</a> |
  <a href="{{url_for('list_incidents')}}" class="command">All Incidents</a>
</p>
<p>{{incident.logged_on}}</p>

<p><b>Incident Types:</b>&nbsp;
{% for incident_type in incident.types() %}
{{incident_type}} {% if not loop.last %}&middot;{% endif %}
{% endfor %}
</ul>

<p><b>Pupils involved:</b></p>
<ul>
{% for pupil, statement in incident.pupil_statements() %}
<li>
  {{pupil.name}} {% if statement %} - <a href="{{url_for('show_attachment', attachment_id=statement.id)}}">{{statement.filename}}</a>{% endif %}
</li>
{% endfor %}
</ul>

<h2>Summary</h2>
<p>{{incident.description}}</p>
<h3>Statements:</h3>
{% if incident.attachments %}
<ul>
{% for statement in incident.attachments %}
<li><a href="/attachment/{{statement.id}}">{{statement.filename}}</a></li>
{% endfor %}
</ul>
{% else %}
<p><i>No statements included</i></p>
{% endif %}

<h2>Action taken</h2>
{% if incident.action_taken %}
<p>{{incident.action_taken}}</p>
{% else %}
<p><i>No action taken</i></p>
{% endif %}

{% endblock %}
