html {
	font-family : sans-serif;
}
table {
	width : 100%;
}
thead, tfoot {
	font-weight : bold;
}

div.half {
  width : 49%;
}
div.one-third {
  width : 32%;
}
div.two-thirds {
  width : 65%;
}

div.left {
  float : left;
}
div.right {
  float : right;
}
hr {
  clear : both;
}
label, span.label {
  font-weight : bold;
  margin-right : 0.25em;
}
